<section class="header">
  <h2>Projects & Skills</h2>
</section>

<section class="projects">
  {{#each project in model}}
    <div class="project">
      <div class="title">
        <a {{bind-attr href=project.url}}> <strong><h3>{{project.name}}</h3></strong></a>
        <a {{bind-attr href=project.github}}><p>GitHub</p></a>
        <img {{bind-attr src=project.image}}/>
      </div>
      <div class="description">
        <p>
          <strong>
            Description:
          </strong>
        </p>
        {{project.description}}
        <p>
          <strong>
            Skills learned:
          </strong>
        </p>
        <ul>
          {{#each project.skills}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
</section>
