<div class="resume">
  <div class="column1">
    <section class="contact">
        <a href="https://linkedin.com/in/bethjaswa/en"><img src="/assets/linked_in.png"/></a>
        <a href="https://github.com/figmentbml"><img src="/assets/GitHub.png"/></a>
        <a href="https://twitter.com/figmentbml"><img src="/assets/Twitter_logo.png"/></a>
        <a href="https://medium.com/@figmentbml"><img class="medium" src="/assets/medium-logo.png"/></a>
      <p>
        <a href="mailto:beth.jaswa@gmail.com">beth.jaswa@gmail.com</a>
      </p>
    </section>
    <section class="summary">
      <h2>Summary</h2>
      <p>
        In my previous career, I became frustrated when a tech problem couldn't be solved even though I worked with developers and engineers. I started to create tools for myself that solved the challenges using the technology available and it was completely rewarding each time. After some thought, I decided to expand my knowledge, actually learn to code, and change careers.
      </p>
    </section>

    <section class="school">
      <h2>Education</h2>
      <p>
        <strong>gSchool</strong>
      </p>
      <p>
        Full Stack Developer Program
      </p>
      <p>
        Focusing on Ruby on Rails, HTML, CSS, Ember.js, and JavaScript
      </p>
      <p>
        <strong>James Madison University</strong>
      </p>
      <p>
        Bachelor of Business Administration
      </p>
      <p>
        Hospitality and Tourism Management
      </p>
      <p>
        Event Planning
      </p>
    </section>

  </div>

  <div class="column2">
    <section class="resume_projects">
      {{#link-to 'projects'}}<h2>Projects and Skills</h2>{{/link-to}}
      {{#each project in projects}}
      <div class="project">
        <div class="title">
          <a {{bind-attr href=project.url}}><strong><h3>{{project.name}}</h3></strong></a>
          <a {{bind-attr href=project.github}}><p>GitHub</p></a>
        </div>
        <div class="description">
          <p>
            <strong>
              Description:
            </strong>
          </p>
          {{project.description}}
          <p>
            <strong>
              Skills learned:
            </strong>
          </p>
          <ul>
            {{#each project.skills}}
            <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </section>

    <section class="jobs">
      <h2>Employment</h2>
      {{#each resume in model}}
      <div class="job">
        <div>
          <p class="job-title"><strong>{{resume.title}}</strong></p>
          <p class="employer">{{resume.employer}}</p>
        </div>
        <div>
          <p class="date">{{resume.dates}}</p>
          <p class="location">{{resume.location}}</p>
        </div>
          <ul>
            {{#each resume.description}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </section>
  </div>
</div>
