<div class="resume">
  <div class="column1">
    <section class="contact">
        <a href="https://www.linkedin.com/ln/bethjaswa/"></a>
        <img src="/assets/linked_in.png"/>
        <a href="https://github.com/figmentbml"></a>
        <img src="/assets/GitHub.png"/>
        <a href="https://twitter.com/figmentbml"></a>
        <img src="/assets/Twitter_logo.png"/>
        <a href="https://medium.com/@figmentbml"></a>
        <img class="medium" src="/assets/medium-logo.png"/>
      <p>
        <a href="mailto:beth.jaswa@gmail.com">beth.jaswa@gmail.com</a>
      </p>
    </section>
    <section class="summary">
      <h2>Summary</h2>
      <p>
        I worked in hotels and corporate catering in my pre-web dev life. I was fortunate to get a real feel for the industry by working with engineers and developers every day at my previous job. The tools in my work toolbelt were always changing and updating, so I became accustomed to learning the newest thing on the scene. I also became frustrated when I couldn't solve a tech problem despite having all of these developers and engineers around.
      </p>
      <p>
        I started to flirt with the notion of attempting to create something myself and in a lot of ways I did. I solved my problems using the technology available and it was completely rewarding each time. After some thought, I decided to expand my knowledge, actually learn to code, and change careers.
      </p>
    </section>

    <section class="school">
      <h2>Education</h2>
      <p>
        <strong>gSchool</strong>
      </p>
      <p>
        Full Stack Developer Program
      </p>
      <p>
        Focusing on Ruby on Rails, HTML, CSS, Ember.js, and JavaScript
      </p>
      <p>
        <strong>James Madison University</strong>
      </p>
      <p>
        Bachelor of Business Administration
      </p>
      <p>
        Hospitality and Tourism Management
      </p>
      <p>
        Event Planning
      </p>
    </section>

  </div>

  <div class="column2">
    <section class="resume_projects">
      {{#link-to 'projects'}}<h2>Projects and Skills</h2>{{/link-to}}
      {{#each project in projects}}
      <div class="project">
        <div class="title">
          <a {{bind-attr href=project.url}}> <strong><h3>{{project.name}}</h3></strong></a>
          <a {{bind-attr href=project.github}}><p>GitHub</p></a>
        </div>
        <div class="description">
          <p>
            <strong>
              Description:
            </strong>
          </p>
          {{project.description}}
          <p>
            <strong>
              Skills learned:
            </strong>
          </p>
          <ul>
            {{#each project.skills}}
            <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </section>

    <section class="jobs">
      <h2>Employment</h2>
      {{#each resume in model}}
      <div class="job">
        <div>
          <p class="job-title"><strong>{{resume.title}}</strong></p>
          <p class="employer">{{resume.employer}}</p>
        </div>
        <div>
          <p class="date">{{resume.dates}}</p>
          <p class="location">{{resume.location}}</p>
        </div>
          <ul>
            {{#each resume.description}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </section>
  </div>
</div>
