<div class="resume">
  <div class="column1">
    <section class="contact">
      <h2>Contact</h2>
      <p>
        LinkedIn
      </p>
      <p>
        Github
      </p>
      <p>
        Twitter @figmentbml
      </p>
      <p>
        medium.com/@figmentbml
      </p>
      <p>
        beth.jaswa@gmail.com
      </p>
    </section>
    <section class="summary">
      <h2>Objective</h2>
      <p>
        Sugar plum sugar plum gummi bears pastry candy. Chocolate jujubes cotton candy biscuit donut croissant brownie bear claw. Fruitcake ice cream icing brownie topping lollipop sesame snaps lemon drops ice cream. Marshmallow cotton candy marzipan apple pie chocolate bar chocolate cake candy danish. Oat cake biscuit sweet roll sugar plum. Chupa chups sweet donut jelly chocolate chocolate bar icing. Jujubes candy chocolate cake. Sweet sugar plum jelly lollipop biscuit sweet roll chocolate bar unerdwear.com. Ice cream liquorice ice cream chupa chups marzipan.
      </p>
    </section>
  </div>

  <div class="column2">
    <section class="resume_projects">
      <h2>Projects and Experience</h2>
      <p>
        Croissant halvah cookie gummi bears.
      </p>
      <p>
        Tootsie roll topping tart cotton candy pastry sweet roll fruitcake.
      </p>
    </section>

    <section class="school">
      <h2>Education</h2>
      <p>
        <strong>gSchool</strong>
      </p>
      <p>
        Full Stack Developer Program
      </p>
      <p>
        Focusing on Ruby on Rails, JavaScript, Ember.js, HTML, and CSS
      </p>
      <p>
        <strong>James Madison University</strong>
      </p>
      <p>
        Bachelor of Business Administration
      </p>
      <p>
        Hospitality and Tourism Management, Event Planning
      </p>
    </section>

    <section class="jobs">
      <h2>Employment</h2>
      {{#each resume in model}}
      <div class="job">
        <div>
          <p class="job-title"><strong>{{resume.title}}</strong></p>
          <p class="employer">{{resume.employer}}</p>
        </div>
        <div>
          <p class="date">{{resume.dates}}</p>
          <p class="location">{{resume.location}}</p>
        </div>
          <ul>
            {{#each resume.description}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </section>
  </div>
</div>
